{% extends 'events/base.html' %}

{% block content %}

    <h1>Add Payment</h1>
    <br/><br/>
    {% if submitted %}
    Your payment details Was Submitted Successfully!!!

    <p>Password: {{ password }}</p>
    {% else %}

        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <!-- <div>
                {{ form.event.label_tag }}
                {{ form.event }}
            </div> -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}

    <br/><br/>
{% endblock %}