{% extends 'events/base.html' %}

{% block content %}

    <h1>Add Payment</h1>
    <br/><br/>
    {% if submitted %}
    Your payment poll was submitted successfully. To retrieve the poll:
    <br>
    1. Trigger our telegram bot <a href ='https://t.me/excoverse_bot'>ExcoVerse_ClubFeePayment</a>
    <br>
    2. Start the bot with <i>/start</i>
    <br>
    3. Retrieve the link to your payment poll using <i>/create_payment_poll</i>
    <br>
    3. Enter the password: <b>{{ password }}</b>
    <br>
    4. Forward the message containing the link to your payment poll and password to your club chat!!

    <!-- <p>Password: {{ password }}</p> -->
    {% else %}

        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <!-- <div>
                {{ form.event.label_tag }}
                {{ form.event }}
            </div> -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}

    <br/><br/>
{% endblock %}