{% extends 'events/base.html' %}
{% block content %}
<style>
    /* Custom CSS to make the cards bigger */
    .card {
      width: 100rem;
      margin-left: 15%;
      margin-top: 10%; /* You can adjust this value to make the cards wider */
      color:black
    }
  
    .card-img-top {
      height: 12rem; /* You can adjust this value to make the card image taller */
      object-fit: cover; /* This ensures the image scales appropriately */
    }
    #carouselExampleControls {
    padding: 0; /* Remove padding around the carousel */
  }

  .carousel-inner {
    margin: 0; /* Remove margin from the carousel inner container */
  }

  .carousel-item img {
    width: 100%; /* Ensure the carousel images cover the full width */
    height: 400px; /* You can adjust this value to change the carousel image height */
    object-fit: cover; /* This ensures the carousel images scale appropriately */
  }
  .example img{
  width: 100%;
  height:300px;
}

.example::after {
  content: "ExcoVerse";
  position: absolute;
  top: 100px;
  white-space: pre;
  right: 50%;
  transform: translateX(50%);
  font-weight: bold;
  font-size: 100px;
  color: white;
  font-family: sans-serif;
 
}
  </style>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active example">
        <img style="width: 1000px; height: 400px; border-radius: 25px;" src="https://i.pinimg.com/originals/b2/ec/48/b2ec48ec40b3ea6ce1b0de71a45e7490.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://d2ydtwisqcxv72.cloudfront.net/211020-Google-Calendar-Planning-Blog.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Plan Events</h5>
                  <p class="card-text">You can use this to plan your cca events</p>
                  {% if user.is_authenticated %}
                  <a href="{% url 'add-event' %}" class="btn btn-primary">Let's Go</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-primary">Login to Unlock</a>
                  {% endif %}
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://static.vecteezy.com/system/resources/thumbnails/004/971/649/small/office-software-attendance-management-business-concept-infographics-for-web-banner-calendar-task-list-and-chart-the-user-personal-account-vector.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Take Attendance</h5>
                  <p class="card-text">Taking Attendance has never been easier with this feature</p>
                  
                  {% if user.is_authenticated %}
                  <a href="{% url 'attendance' %}" class="btn btn-primary">Let's Go</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-primary">Login to Unlock</a>
                  {% endif %}
                  
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://st2.depositphotos.com/4320929/11180/v/600/depositphotos_111804622-stock-illustration-online-and-mobile-payments-concept.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Payment Collection</h5>
                  <p class="card-text">You can use this to plan your cca events</p>
                  {% if user.is_authenticated %}
                  <a href="{% url 'payment' %}" class="btn btn-primary">Let's Go</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-primary">Login to Unlock</a>
                  {% endif %}
                </div>
              </div>
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
document.addEventListener("DOMContentLoaded", function() {

    let state = false;  // Initial state

    toggleLink.addEventListener("click", (event) => {
        event.preventDefault();  // Prevent the default link behavior
        state = !state;  // Toggle the state

        // // Modify the link's href attribute to include the state
        // const newState = state ? "true" : "false";
        
        // Use the 'state' value as needed
        if (state) {
            // Do something when state is true
            console.log("State is true");
            const toggleLink = document.getElementById("toggleLink");
            toggleLink.setAttribute("href", "/scan_qrcode/true/");
            window.location.href = toggleLink.href;

        } else {
            // Do something when state is false
            console.log("State is false");
            const toggleLink = document.getElementById("toggleLink");
            toggleLink.setAttribute("href", "/scan_qrcode/false/");
            window.location.href = toggleLink.href;
        }
    });});
</script> -->

{% endblock %}
