<!-- events/track_event_payment_polls.html -->

{% extends 'events/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css' %}">

{% block content %}

<h1>Track Event Payment Polls</h1>
<br>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-secondary" value="Filter">
</form>
<br>

{% if tracking_payments %}

    {% if selected_event %}
        {% regroup tracking_payments by event as event_payments %}

        {% for event_group in event_payments %}
        
        <ul class="list-group list-group-dark">
            <li class="list-group-item bg-dark text-light">No. of People Paid: {{total_paid}}</li>
            <li class="list-group-item bg-dark text-light">Total No. of People Not Paid: {{total_never_pay}}</li>
            <li class="list-group-item bg-dark text-light">Amount of Money Collectable {{unprocessed_payment_count}}</li>
        </ul>
        <br>
        <div class="table-responsive ">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th class="text-light">Student Name</th>
                    <th class="text-light">Student ID</th>
                    <th class="text-light">Student Chat ID</th>
                    <th class="text-light">Payment Completed</th>
                    <th class="text-light">Payment Received</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in event_group.list %}
                <tr class="{% if not payment.paid %}bg-{% endif %}">
                    <td class="text-light">{{ payment.student.first_name }} {{ payment.student.last_name }}</td>
                    <td class="text-light">{{ payment.student.student_id }}</td>
                    <td class="text-light">{{ payment.student.chat_id }}</td>
                    <td class="text-light">{% if payment.is_success_excoverse %}Paid{% else %}Not Paid{% endif %}</td>
                    <td class="text-light">{% if payment.is_success_club %}Received{% else %}Not Received{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        
        {% endfor %}
    
    {% else %}
        <ul class="list-group list-group-dark">
            <li class="list-group-item bg-dark text-light">No. of People Paid: {{total_paid}}</li>
            <li class="list-group-item bg-dark text-light">Total No. of People Not Paid: {{total_never_pay}}</li>
            <li class="list-group-item bg-dark text-light">Amount of Money Collectable {{unprocessed_payment_count}}</li>
        </ul>

        <br>        

        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th class="text-light">Student Name</th>
                        <th class="text-light">Student ID</th>
                        <th class="text-light">Student Chat ID</th>
                        <th class="text-light">Payment Completed</th>
                        <th class="text-light">Payment Received</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in tracking_payments %}
                    <tr class="{% if not payment.is_success_excoverse %}background-color: #FFC0CB;{% endif %}">
                        <td class="text-light">{{ payment.student.first_name }} {{ payment.student.last_name }}</td>
                        <td class="text-light">{{ payment.student.student_id }}</td>
                        <td class="text-light">{{ payment.student.chat_id }}</td>
                        <td class="text-light">{% if payment.is_success_excoverse %}Paid{% else %}Not Paid{% endif %}</td>
                        <td class="text-light">{% if payment.is_success_club %}Received{% else %}Not Received{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>

        <div class="card-foot text-muted text-light">  
            <!-- <script src="https://js.stripe.com/v3/"></script>
            <button id="transferButton">Transfer Funds</button> -->
            <form action="{% url 'transfer-payment' %}" method="POST">
              {% csrf_token %}
              
              <button type="submit" class="btn btn-secondary">Process Payment</button>
            </form>
            
        </div>
    {% endif %}
{% else %}
    <p>No tracking payments found for any event.</p>
{% endif %}


{% endblock %}
<!-- <script>
    var paymentData = {
        unprocessed_payment_count: "{{ unprocessed_payment_count|default:'0' }}",
        tracking_payments: JSON.parse('{{ tracking_payments_json|safe }}')
    };
    var paymentDataJson = JSON.stringify(paymentData);
    document.getElementById('payment_data').value = paymentDataJson;
</script> -->
<style>
    /* Custom CSS for sorting the table */
    .not-paid {
    background-color: #FFC0CB!important; /* Pink color for rows where payment status is not paid */
}

.not-paid-text{
    color: #FFC0CB!important;
    background-color: #FFC0CB!important
}

</style>
