{% extends 'events/base.html' %}

{% block content %}

<h1>Payment has been processed successfully</h1>
<br>
{% if user.is_authenticated %}

  {% endif %}
  


</ul>


{% endblock %}
<!-- <script>
  var csrfToken = "{{ csrf_token }}";
  console.log(csrfToken)
</script> -->
<!-- 
<script>
  const stripe = Stripe('pk_test_51NPQo0HLT8WmDutBCkrn879lFGyIlKoF64fhUuXS5WXyuyVC3y1ULJAsjedUlt4ob1W9jZsXKQE75QFRAfreTU3F009ydNs0jn');
  
  document.addEventListener('DOMContentLoaded', function () {
      const transferButton = document.getElementById('transferButton');
      transferButton.addEventListener('click', async function () {
          try {
              const response = await fetch('/initiate-transfer/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': '{{ csrf_token }}', // Add CSRF token for Django
                  },
                  body: JSON.stringify({ /* any necessary data */ }),
              });
  
              const data = await response.json();
  
              // Redirect to the appropriate URL or show a success message
              // You might also want to handle any errors here
          } catch (error) {
              console.error('Error:', error);
          }
      });
  });
  </script> -->
  
<!-- stripe.Transfer.create(
  amount=total_amount_sum,
  currency="sgd",
  destination=stripe_account_id,
  transfer_group="ORDER_95",
) --> -->