{% extends 'events/base.html' %}
{% block content %}
<style>
  .body {
    font-family: sans-serif;
  }

  .card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #333;
    position: relative;
   
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    
  }

  .card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(2px);
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
    


  }

  .card:hover .card-body {
    right: 0;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
  }

  .card-subtitle {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
  }

  .card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
  }

  .card-btn {
    color: #1f3d47;
    background: #8fabba;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
  }
</style>
<center>
<div class="container-fluid">
  <div class="row">
    <h1>Venues</h1>
    <div class="col"> 
      <a href="{% url 'add-venue' %}">
        <button type="button" class="btn btn-primary float-end mb-5 mr-5">Add Venue</button>
      </a>
      
    </div>

  </div>
  <div class="row">
    {% for venue in venue_list %}
    <div class="col-md-3">
      <div class="card">
        <img src="{{venue.image_url}}" class="card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{venue.name}}</h5>
          <p class="card-sub-title">{{venue.address}}, Singapore {{venue.zip_code}}</p>
          <p class="card-info">Website: {{venue.web}}</p>
          <a href="#" class="btn btn-primary card-btn">Book Venue</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
</center>